$redColor: #f00;
$greenColor: #00ff48;
$yellowColor: #fff700;

.status-light-red::before {
  background-color: $redColor;
  box-shadow: 0px 0px 5px 2px $redColor;
  -webkit-box-shadow: 0px 0px 5px 2px $redColor;
  -moz-box-shadow: 0px 0px 5px 2px $redColor;
}
.status-light-green::before {
  background-color: $greenColor;
  box-shadow: 0px 0px 5px 2px $greenColor;
  -webkit-box-shadow: 0px 0px 5px 2px $greenColor;
  -moz-box-shadow: 0px 0px 5px 2px $greenColor;
}
.status-light-yellow::before {
  background-color: $yellowColor;
  box-shadow: 0px 0px 5px 2px $yellowColor;
  -webkit-box-shadow: 0px 0px 5px 2px $yellowColor;
  -moz-box-shadow: 0px 0px 5px 2px $yellowColor;
}
.status-light::before {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 50%;
}
.job-list-view-section span::after {
  border-left: 1px solid #10266b;
  content: "";
  margin-left: 20px;
}
@media (max-width: 776px) {
  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-sm-column div {
    margin-bottom: 15px;
  }

  .flex-sm-column div {
    margin-bottom: 15px;
  }
  .flex-sm-column span::after {
    content: none !important;
  }
}
